:root {
  --amber: #f59e0b;
  --peach: #dfa187;
  --cream: #fff7ed;
  --dark-gray: #27272a;
  --medium-gray: #52525b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  color: #27272a;
}

.flex {
  display: flex;
}

.large-heading-size {
  font-size: 4rem;
}

.heading-size {
  font-size: 1.6rem;
}

.subheading-size {
  font-size: 1.2rem;
}

.btn-primary {
  background-color: var(--amber);
  border: 0px;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.7rem 1.2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-secondary {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.7rem 1.2rem;
  color: var(--amber);
  font-size: 1.2rem;
  font-weight: 600;
}

/* Navigation Bar Start */

nav {
  position: sticky;
  top: 0;
  background-color: white;
  height: 5.5rem;
  align-items: center;
  justify-content: space-around;
}

nav .logo {
  align-items: center;
}

nav .logo h5 {
  margin-left: 0.5rem;
  font-weight: 800;
}

nav ul li {
  display: inline;
  list-style-type: none;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

/* Navigation Bar End */

/* Landing Page Start */

.jumbotron {
  background-color: var(--cream);
  background-image: url(assets/jumbotron_vector_1.svg),
    url(assets/jumbotron_vector_2.svg);
  background-repeat: no-repeat;
  background-size: 25rem, 14rem;
  background-position: right 0px top -5rem, bottom 2.5rem left 4rem;
  width: 100%;
}

.jumbotron-content {
  text-align: center;
  padding: 12rem 3rem;
  max-width: 55rem;
}

h1 {
  font-weight: 800;
  line-height: 1.1;
}

.jumbotron-content p {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  color: var(--medium-gray);
}

.jumbotron-buttons {
  justify-content: center;
  align-items: center;
}

.jumbotron-buttons .btn-primary {
  margin-right: 2rem;
}

/* Landing Page End */

/* About Section Start */

.about {
  padding: 12rem 3rem;
  max-width: 60rem;
}

.about-title {
  background-color: var(--peach);
  width: fit-content;
  padding: 1.25rem 3rem;
  border-radius: 20px 20px 0 0;
}

.about-title h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
}

.about-content {
  border: 3px var(--peach) solid;
  border-radius: 20px;
}

.about-content p {
  margin: 2.5rem 5rem;
  line-height: 1.3;
}

/* About Section End */
